<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article - MC Test</title>
</head>

<body>
    <h1>Article Title</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ex quo ea nesciunt accusamus tempore tenetur
        consequatur quisquam maxime nobis rem in fugit, repellat dolores optio, dolorem ut modi aut!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam itaque cumque, alias quis ut unde inventore
        aspernatur aliquam reiciendis obcaecati? Aliquid nihil aut voluptatibus rerum consequatur accusamus ex facilis
        vitae.</p>
    <p>Back to <a href="/">Home</a></p>
</body>

</html>